{% load static %}
    <!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">Mãn Vy</a></div>
						</div>
						<div class="footer_title">Hotline 24/7</div>
						<div class="footer_phone">0936 915 049</div>
						<div class="footer_contact_text">
							<p>371 Nguyễn Kiệm, Gò Vấp</p>
							<p>123 Lê Đức Thọ, Gò Vấp</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-2 offset-lg-2">
					<div class="footer_column">
						<div class="footer_title">Lối tắt</div>
						<ul class="footer_list">
							<li><a href="#">Máy tính cố định</a></li>
							<li><a href="#">Laptops</a></li>
							<li><a href="#">Máy ảnh</a></li>
							<li><a href="#">Thiết bị ngoại vi</a></li>
							<li><a href="#">Điện thoại</a></li>
							<li><a href="#">Máy tính bảng</a></li>
							<li><a href="#">Ti vi</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<ul class="footer_list footer_list_2">
<!--							<li><a href="#">Video Games & Consoles</a></li>-->
<!--							<li><a href="#">Accessories</a></li>-->
<!--							<li><a href="#">Cameras & Photos</a></li>-->
<!--							<li><a href="#">Hardware</a></li>-->
<!--							<li><a href="#">Computers & Laptops</a></li>-->
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Chăm sóc khách hàng</div>
						<ul class="footer_list">
							<li><a href="#">Tài khoản</a></li>
							<li><a href="#">Danh sách yêu thích</a></li>
							<li><a href="#">Dịch vụ khách hàng</a></li>
							<li><a href="#">Dịch vụ đổi trả</a></li>
							<li><a href="#">Hỏi đáp</a></li>
							<li><a href="#">Hỗ trợ</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
						<div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Template được tham khảo tại <i class="fa fa-heart" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
						<div class="logos ml-sm-auto">
							<ul class="logos_list">
								<li><a href="#"><img src="{% static 'homepage/images/logos_1.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'homepage/images/logos_2.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'homepage/images/logos_3.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'homepage/images/logos_4.png' %}" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>